* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h1 {
    background-color: red;
    color: black;
    width: fit-content;
    margin: 0px auto;
    margin-top: 20px; ;
}

table {
    margin: 0px auto;
    margin-top: 20px;
    border-collapse: collapse;
}

table tr td {
    height: 50px;
    width: 50px;
}

.color1 {
    background-color: black;
}

.color2 {
    background-color: red;
}