<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="m-1">All Users</h1>

        <!-- table with all users -->
        <table class="table table-striped table-hover">

            <!-- table header -->
            <thead class="table-dark">
                <tr>
                    <td>ID</td>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Created On</td>
                    <td>Actions</td>
                </tr>
            </thead>

            <!-- table body -->
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name + " " + user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td>
                        <a href="/users/{{user.id}}">Show</a> |
                        <a href="/users/{{user.id}}/edit">Edit</a> |
                        <a href="/users/{{user.id}}/delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-danger" href="/users/new">Add a New User</a>
    </div>
</body>
</html>