<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Fruit Store</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
</head>
<body>
    <header>
        <h1>Dojo Fruit Store!</h1>
    </header>
    <div>
        <main>
            <div class="container">
                <h1 class="jumbotron-heading">Dojo Fruit Store!</h1>
                <p class="lead text-muted">Your dojo decided to buy fruits for all the students! Please use this app to tell us what you would like to have!  Once we get your order, we'll charge your student account automatically.</p>
            </div>
            <form action="/submit" method="POST">
                <div>
                    <h2>What would you like to buy?</h2>
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <td>Fruit Name</td>
                                <td>Quantity</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Strawberry</td>
                                <td>
                                    <select name="strawberry" id="strawberry">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Raspberry</td>
                                <td>
                                    <select name="raspberry" id="raspberry">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Apple</td>
                                <td>
                                    <select name="apple" id="apple">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Blackberry</td>
                                <td>
                                    <select name="blackberry" id="blackberry">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div>
                        <label for="name">Student Name:</label>
                        <input type="text" name="name" placeholder="Student Name...">
                    </div>
                    <div>
                        <label for="name">Student ID:</label>
                        <input type="text" name="id" placeholder="Student ID...">
                    </div>
                    <button>Buy Me Stuff!</button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>