<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-3">New Ninja</h1>
        <form class="d-flex flex-column col-4" action="/ninjas/new" method="POST">
            <label class="form-label" for="dojo_id">Dojo:</label>
            <select class="form-control" name="dojo_id" id="dojo_id">
                {% for dojo in dojos %}
                <option value="{{dojo.id}}">{{dojo.id}}. {{dojo.name}}</option>
                {% endfor %}
            </select>
            <label class="form-label" for="first_name">First Name:</label>
            {% for message in get_flashed_messages(category_filter = ['err_first_name']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <input class="form-control" type="text" name="first_name" id="first_name">
            <label class="form-label" for="last_name">Last Name:</label>
            {% for message in get_flashed_messages(category_filter = ['err_last_name']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <input class="form-control" type="text" name="last_name" id="last_name">
            <label class="form-label" for="age">Age:</label>
            <input class="form-control" type="integer" name="age" id="age">
            <button class="btn btn-success mt-3">Create</button>
        </form>
        <a class="btn btn-danger mt-3" href="/">Home</a>
    </div>
</body>
</html>