<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
</head>
<body>
    <div class=" d-flex justify-content-center container">

        <!-- Register -->
        <form class="m-5 p-3 col-4 bg-dark form" action="/register" method="POST">
            <h1 class="text-primary">Register</h1>

            <!-- first name -->
            <label class="pt-2 text-light form-label" for="first_name">First Name:</label>
            {% for message in get_flashed_messages(category_filter = ['first_name']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <input class="form-control" type="text" name="first_name" id="first_name">

            <!-- last name -->
            <label class="pt-2 text-light form-label" for="last_name">Last Name:</label>
            {% for message in get_flashed_messages(category_filter = ['last_name']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <input class="form-control" type="text" name="last_name" id="last_name">

            <!-- email -->
            <label class="pt-2 text-light form-label" for="email">Email:</label>
            {% for message in get_flashed_messages(category_filter = ['email']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <input class="form-control" type="text" name="email" id="email">

            <!-- password -->
            <label class="pt-2 text-light form-label" for="password">Password:</label>
            {% for message in get_flashed_messages(category_filter = ['password']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <input class="form-control" type="password" name="password" id="password">

            <!-- confirm password -->
            <label class="pt-2 text-light form-label" for="confirm_pass">Confirm Password:</label>
            {% for message in get_flashed_messages(category_filter = ['confirm_pass']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}
            <input class="form-control" type="password" name="confirm_pass" id="confirm_pass">

            <!-- submit button -->
            <button class="mt-3 btn btn-primary">Register</button>
        </form>


        <!-- Login -->
        <form class="m-5 p-3 col-4 bg-dark" action="/login" method="POST">
            <h1 class="text-success">Login</h1>
            {% for message in get_flashed_messages(category_filter = ['log']) %}
            <p class="text-danger">*{{message}}</p>
            {% endfor %}

            <!-- login email -->
            <label class="pt-2 text-light form-label" for="email">Email:</label>
            <input class="form-control" type="text" name="email" id="email">

            <!-- login password -->
            <label class="pt-2 text-light form-label" for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password">

            <!-- login button -->
            <button class="mt-3 btn btn-success">Login</button>
        </form>


    </div>
</body>
</html>